// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: $headings-font-family;  
  background-color: white;
  
  .navbar-nav {
    margin-top: 1rem;
    li.nav-item {
      a.nav-link {
        color: $blue;
        &:hover {
          color: $blue;
        }
        &:active,
        &:focus {
          color: $blue;
        }
        &.active {
          color: $blue;
        }
      }
    }

    li.nav-item.with-border {      
      
      .nav-link {
        border: solid 0.05vw $blue;
        border-radius: 0.3vw;
        padding: 0.2vw 0.7vw;
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
@include media-breakpoint-up(lg) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {     
      margin-top: -25px;
      margin-bottom: -25px; 
      font-size: 1.75em;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $blue;
      background: transparent;
      &:active,
      &:focus,
      &:hover {
        color: $blue;
        background: white;
      }
    }
  }
  #mainNav.navbar-shrink {    
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}
