.top-page {   
    .top-section {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;

        .logo-container {
            padding: 3vw 0;
            flex-grow: 1;

            .logo-area {
                height: 20vw;
                flex-grow: 1;
                background-image: url("../img/logo_title.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }   
            
            .circle {                
                width: 13vw; 
                height: 13vw; 
                border: 0.2vw $red solid; 
                border-radius: 100%;
                font-size: 2vw;
                color: $red;
            }
        }
        
        .catchphrase {
            padding-bottom: 2vw;
            font-size: 2.5vw;
            color: $blue;
            justify-content: center;
        }
    }

    .method-section {           
        padding-bottom: 0;
        color: $blue; 
        text-align: center;
        font-size: 3.5vw;           
        font-weight: 500;

        .container-with-border {                        
            padding: 1vw 3vw; 
            border-radius: 1.5vw;         
            border: 0.2vw $red solid;                   
        }   
        
        .divider-area-line {
            color: $red;
            min-height: 4vw;
            height: 4vw;
            background-image: url("../img/vertical_line_red.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        
        .divider-area-arrow {
            color: $red;
            min-height: 8vw;
            height: 8vw;
            background-image: url("../img/down_arrow_red.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .container-without-border {            
            padding: 5vw 0;            
        }

        .method-bottom-left {
            background-image: url("../img/method_left.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }

        
        .method-bottom-right {
            background-image: url("../img/method_right.png");
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
        }
    }

    .toppoints {
        color: $blue;
        font-size: 2.5vw;

        .img-area {
            margin-top: -2vw;
            margin-bottom: -2vw;
            background-image: url("../img/yamadatoppoints.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }

        .list-group {
            .list-group-item {
                display: flex;
                align-items: center;                
                background: transparent;
                border: none;

                div {
                    display: inline-block;
                    margin-right: 0.5em;                    
                }

                .icon-area {
                    width: 2vw;
                    height: 2vw;
                    border: 0.2vw $red solid;                   
                    border-radius: 100%;
                }
            }
        }
    }
    
    
    .basic-flow {
        .page-section-heading {
            color: $blue;
        }

        .annotation-area {
            padding: 0 5vw;
            font-size: 1.5vw;
        }

        .circle-area {
            font-size: 2.8vw; 
            font-weight: 500;
            color: $blue;
            padding-top: 5vw;

            .circle {
                width: 20vw; 
                height: 20vw; 
                border: 0.3vw $red solid; 
                border-radius: 100%;

                .annotation-mark {
                    width: 60%;

                    span {
                        font-size: 50%;
                        float: right;
                    }
                }                
            }
        }

        .additional-message-area {
            padding-top: 3vw;
            padding-bottom: 3vw;
            font-size: 2vw;
            color: $blue;
        }
    }

    .special-point-section {
        .page-section-heading {
            padding-bottom: 2vw;
        }

        .img-area {
            min-height: 20vw;
            background-image: url("../img/illust_01.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .text-area {
            padding-top: 2vw;
            padding-bottom: 2vw;
            font-size: 1.5vw;
            line-height: 3vw;
        }

        .button-area {            
            border-radius: 1.5vw;            
            color: $blue;
            font-size: 2.5vw;          
            overflow: hidden;        
            box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw gray;      

            .title {
                padding: 1vw 0;
                background-color: white;
            }

            .button-left {
                padding: 1vw 0;
                background-color: #DAEEF8;
                cursor: pointer;
            }

            .button-right {
                padding: 1vw 0;
                background-color: #FFDEE4;
                cursor: pointer;
            }
        }
    }

    .strength-section {
        .page-section-heading {
            padding-bottom: 2vw;
        }

        .img-area {
            min-height: 20vw;
            background-image: url("../img/illust_02.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .text-area {
            padding-top: 2vw;
            padding-bottom: 2vw;
            font-size: 1.5vw;
            line-height: 3vw;

            p {
                margin-bottom: 2vw;
            }

        }

        .button-area {            
            border-radius: 1.5vw;            
            border: 0.05vw solid $blue;
            color: $blue;
            font-size: 2.5vw;          
            overflow: hidden;        
            box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw gray;      

            .title {
                padding: 1vw 0;
                background-color: white;
            }

        }
    }

    .introdution-section {
        padding-top: 0;

        .top-banner {
            min-height: 35vw;
            background-image: url("../img/intro_top.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .logo-area {
            margin-top: 2vw;
            min-height: 10vw;
            background-image: url("../img/logo_mark_only.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .title-area {
            margin-bottom: 1vw;
            font-size: 2.5vw;
            color: $blue;
        }

        .text-area {
            font-size: 1.5vw;
            line-height: 3vw;
            margin-bottom: 2vw;
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;

            iframe, object, embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }         

    }

    .yamada-section {
        .img-area {
            margin-top: -2vw;
            margin-bottom: -3vw;
            background-image: url("../img/yamada_guts.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }

        .dialog-area {
            background-image: url("../img/dialog.png");
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;            

            padding-left: 2.5vw;
            font-size: 1.5vw;
            line-height: 2.5vw;
            color: $blue;
        }

        .title-area {
            margin-top: 2vw;
            padding-left: 2.5vw;
            font-size: 0.7vw;
        }
    }

    .detail-button-section {
        .button-area {
            button {                    
                padding: 0.5vw 1.5vw;
                border-radius: 1vw;            
                border: 0.05vw solid $blue;
                color: $blue;
                font-size: 2.0vw;          
                overflow: hidden;        
                box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw gray;     
                background-color: white;

                ion-icon {
                    color: $red;
                    margin-right: 1vw;
                }
            }
            
        }
    } 
}