.top-page {
    .method-section {   
        margin-top: 5vw;
        padding-bottom: 0;
        color: $blue; 
        text-align: center;
        font-size: 3.5vw;           
        font-weight: 500;

        .container-with-border {                        
            padding: 1vw 3vw; 
            border-radius: 1.5vw;         
            border: 0.2vw $red solid;                   
        }   
        
        .divider-area-line {
            color: $red;
            min-height: 4vw;
            height: 4vw;
            background-image: url("/img/vertical_line_red.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        
        .divider-area-arrow {
            color: $red;
            min-height: 8vw;
            height: 8vw;
            background-image: url("/img/down_arrow_red.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .container-without-border {            
            padding: 5vw 0;            
        }

        .method-bottom-left {
            background-image: url("/img/method_left.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        
        .method-bottom-right {
            background-image: url("/img/method_right.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    .toppoints {
        color: $blue;
        font-size: 2vw;

        .img-area {
            margin-top: -2vw;
            margin-bottom: -2vw;
            background-image: url("/img/yamadatoppoints.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }

        .list-group {
            .list-group-item {
                display: flex;
                align-items: center;                
                background: transparent;
                border: none;

                div {
                    display: inline-block;
                    margin-right: 0.5em;                    
                }

                .icon-area {
                    width: 2vw;
                    height: 2vw;
                    border: 0.2vw $red solid;                   
                    border-radius: 100%;
                }
            }
        }
    }
    
    
    .basic-flow {
        .page-section-heading {
            color: $blue;
        }

        .circle-area {
            font-size: 2.8vw; 
            font-weight: 500;
            color: $blue;

            .circle {
                width: 20vw; 
                height: 20vw; 
                border: 0.3vw $red solid; 
                border-radius: 100%;
            }
        }
    }

}