// Styling for page sections
.page-section {
  padding: 3vw 0;
  .page-section-heading {
    font-size: 3.5vw;    
    font-weight: 500;
    color: $blue;
  }

  @include media-breakpoint-up(lg) {
    .page-section-heading {
      font-size: 3.5vw;      
    }
  }
}

.page-section.section-revert {
  background-color: #EBE8E5;
}


.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.align-left-middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.align-right-middle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.align-right-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.align-center-top {
  display: flex;
  align-items: start;
  justify-content: center;
}

